worker_processes auto;
pid /tmp/nginx.pid;
error_log /var/log/nginx/error.log;

events {
	worker_connections {{ nginx_worker_connections }};
}

http {
	include /etc/nginx/mime.types;
        
   server {
        server_name nginx.task14nginx.cloud-ip.cc; 
        listen {{ nginx_ssl_port }} ssl;
        ssl_certificate /etc/nginx/ssl/fullchain.pem;
        ssl_certificate_key /etc/nginx/ssl/privkey.pem;
        root {{ nginx_root }};
        index index.html firstpage.html;
    

        location ~ \.mp3$ {
            add_header Content-Disposition 'attachment';
            add_header Content-Type 'application/octet-stream';
            try_files $uri =404;
        }


        location /secondserver {
            return 301 {{ nginx_redirect_url }};
}

         location ~ ^.*/image1/(.*\.jpg)$ {
             alias {{ nginx_root }}/images/$1;
             expires {{ nginx_image_cache_expiry }};
             add_header Cache-Control "public";
}

   }
   server {
     listen {{ nginx_http_port }};
     server_name nginx.task14nginx.cloud-ip.cc;

     return 301 https://$host$request_uri;
   }

}
